table {
  border: 3px solid black;
  height: 30vh;
  width: 40vw;
  text-align: center;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
tbody td:hover{
  color: white;
  background: #03a9f4;
}
